<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin Panel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users"> Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-category"> Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-products"> Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-banners"> Banners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view-coupons"> Coupons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders"> Orders</a>
                    </li>
                </ul>
                <a href="/admin/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>
</section>
